h1 {
  /* color: #822f89; */
}

h2 {
  color: #822f89;
}

.purple-background {
  background-color: #822f89;
}

.green-background {
  background-color: #65BD50;
}

.purple-text {
  color: #822f89;
}

.green-text {
  color: #65BD50;
}

.green-border {
  border-color: #65BD50;
}

.purple-border {
  border-color: #822f89;
}
